/** uiduck MIT License By https://www.uiduck.com */
.uiDuck-pink thead, .uiDuck-pink tr {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(230, 189, 189);
}

.uiDuck-pink {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(230, 189, 189);
}

.uiDuck-pink td, .uiDuck-pink th {
    padding: 5px 10px;
    font-size: 12px;
    font-family: Verdana;
    color: rgb(177, 106, 104);
}

.uiDuck-pink tr:nth-child(even) {
    background: rgb(238, 211, 210)
}

.uiDuck-pink tr:nth-child(odd) {
    background: #FFF
}

.uiDuck-coffee {
    margin-top: 15px;
    border-collapse: collapse;
    border: 1px solid #aaa;
    width: 100%;
}

.uiDuck-coffee th {
    vertical-align: baseline;
    padding: 5px 15px 5px 6px;
    background-color: #3F3F3F;
    border: 1px solid #3F3F3F;
    text-align: left;
    color: #fff;
}

.uiDuck-coffee td {
    vertical-align: text-top;
    padding: 6px 15px 6px 6px;
    border: 1px solid #aaa;
}

.uiDuck-coffee tr:nth-child(odd) {
    background-color: #F5F5F5;
}

.uiDuck-coffee tr:nth-child(even) {
    background-color: #fff;
}

.uiDuck-blue {
    margin: 1em 0;
    width: 100%;
    overflow: hidden;
    background: #FFF;
    color: #024457;
    border-radius: 10px;
    border-collapse: collapse;
    border-spacing: 0;
    border-left: 1px solid #888;
    border-top: 1px solid #888;
    border-bottom: 1px solid #167F92;
    border-right: 1px solid #167F92;
}

.uiDuck-blue tr {
    border: 1px solid #D9E4E6;
}

.uiDuck-blue tr:nth-child(odd) {
    background-color: #EAF3F3;
}

.uiDuck-blue th {
    display: none;
    border: 1px solid #FFF;
    font-size: 12px;
    background-color: #167F92;
    color: #FFF;
    padding: 1em;
}

.uiDuck-blueSorter button {
    border: 0 solid transparent;
    background-color: inherit;
    color: white;
    font-weight: bold;
}

.uiDuck-blue th > .uiDuck-blueSorter {
    float: right;
}

.uiDuck-blue th:first-child {
    display: table-cell;
    text-align: center;
}

.uiDuck-blue th:nth-child(2) {
    display: table-cell;
}

.uiDuck-blue th:nth-child(2):after {
    content: attr(data-th);
}

.uiDuck-blue

@media (min-width: 480px) {
    .uiDuck-blue th:nth-child(2) span {
        display: block;
    }

    .uiDuck-blue th:nth-child(2):after {
        display: none;
    }
}

.uiDuck-blue td {
    font-size: 12px;
    display: block;
    word-wrap: break-word;
    max-width: 7em;
}

.uiDuck-blue td:first-child {
    display: table-cell;
    text-align: center;
    border-right: 1px solid #D9E4E6;
}

@media (min-width: 480px) {
    .uiDuck-blue td {
        border: 1px solid #D9E4E6;
    }
}

.uiDuck-blue th,
.uiDuck-blue td {
    text-align: left;
    margin: .5em 1em;
}

@media (min-width: 480px) {
    .uiDuck-blue th,
    .uiDuck-blue td {
        display: table-cell;
        padding: 1em;
    }
}

.uiDuck-dark {
    width: 100%;
    margin: 1em 0;
    max-width: 100%;
    margin-bottom: 1rem;
    color: #eceeef;
    background-color: #373a3c;
}

.uiDuck-dark th {
    vertical-align: bottom;
    border-bottom: 2px solid #eceeef;
}

.uiDuck-dark td, .uiDuck-dark th, .uiDuck-dark thead th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #eceeef;
    border-bottom-color: #55595c;
    border-right-color: #55595c;
    border-left-color: #55595c;
}

.uiDuck-dark {
    border: 0;
}

.uiDuck-purple {
    margin: 1em 0;
    min-width: 300px;
}

.uiDuck-purple tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.uiDuck-purple th {
    display: none;
}

.uiDuck-purple td {
    display: block;
}

.uiDuck-purple td:first-child {
    padding-top: .5em;
}

.uiDuck-purple td:last-child {
    padding-bottom: .5em;
}

.uiDuck-purple td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}

@media (min-width: 480px) {
    .uiDuck-purple td:before {
        display: none;
    }
}

.uiDuck-purple th, .uiDuck-purple td {
    text-align: left;
}

@media (min-width: 480px) {
    .uiDuck-purple th, .uiDuck-purple td {
        display: table-cell;
        padding: .25em .5em;
    }

    .uiDuck-purple th:first-child, .uiDuck-purple td:first-child {
        padding-left: 0;
    }

    .uiDuck-purple th:last-child, .uiDuck-purple td:last-child {
        padding-right: 0;
    }
}

.uiDuck-purple {
    background: #34495E;
    color: #fff;
    border-radius: .4em;
    overflow: hidden;
}

.uiDuck-purple tr {
    border-color: #46637f;
}

.uiDuck-purple th, .uiDuck-purple td {
    margin: .5em 1em;
}

@media (min-width: 480px) {
    .uiDuck-purple th, .uiDuck-purple td {
        padding: 1em !important;
    }
}

.uiDuck-purple th, .uiDuck-purple td:before {
    color: #dd5;
}

.uiDuck-white {
    margin: 0 auto;
    font-size: 1.2em;
    margin-bottom: 15px;
}

.uiDuck-white thead {
    cursor: pointer;
    background: #c9dff0;
}

.uiDuck-white thead tr th {
    font-weight: bold;
    padding: 12px 30px;
    padding-left: 42px;
}

.uiDuck-white thead tr th span {
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.uiDuck-white thead tr th.headerSortUp, .uiDuck-white thead tr th.headerSortDown {
    background: #acc8dd;
}

.uiDuck-white thead tr th.headerSortUp span {
    background-image: url('https://i.imgur.com/SP99ZPJ.png');
}

.uiDuck-white thead tr th.headerSortDown span {
    background-image: url('https://i.imgur.com/RkA9MBo.png');
}

.uiDuck-white tbody tr {
    color: #555;
}

.uiDuck-white tbody tr td {
    text-align: center;
    padding: 15px 10px;
}

.uiDuck-white tbody tr td.leftAlign {
    text-align: left;
}

.uiDuck-dark th h1 {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    color: #185875;
}

.uiDuck-dark td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
}

.uiDuck-dark {
    text-align: left;
    overflow: hidden;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
}

.uiDuck-dark td, .uiDuck-dark th {
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 1%;
    color: #84dcf5;
}


.uiDuck-dark tr:nth-child(odd) {
    background-color: #323C50;
}

.uiDuck-dark tr:nth-child(even) {
    background-color: #2C3446;
}

.uiDuck-dark th {
    background-color: #1F2739;
}

.uiDuck-dark td:first-child {
    color: #FB667A;
}

.uiDuck-dark tr:hover {
    background-color: #464A52;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
}

.uiDuck-dark td:hover {
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: linear;
}

@media (max-width: 800px) {
    .uiDuck-dark td:nth-child(4),
    .uiDuck-dark th:nth-child(4) {
        display: none;
    }
}

.uiDuck-led {
    text-align: left;
    overflow: hidden;
    width: 100%;
    background-color: black;
    margin: 0 auto;
    display: table;
}

.uiDuck-led th {
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 10px;
    font-size: 2vh;
    font-weight: 800;
    white-space: nowrap;
    border: 1px solid rgb(219, 5, 5);
    color: red;
}

.uiDuck-led td {
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 10px;
    font-weight: 600;
    border: 1px solid rgb(219, 5, 5);
    color: #b9b902;
}

.uiDuck-led tr:nth-child(odd) {
    background-color: black;
}

.uiDuck-led tr:nth-child(even) {
    background-color: black;
}

.uiDuck-led th {
    background-color: rgb(5, 5, 5);
}

.uiDuck-led td:first-child {
    color: #FB667A;
}

.uiDuck-led tr:hover {
    background-color: rgb(36, 38, 43);
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
}

.uiDuck-led td:hover {
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: linear;
}

@media (max-width: 800px) {
    .uiDuck-led td:nth-child(4),
    .uiDuck-led th:nth-child(4) {
        display: none;
    }
}