<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>checkbox组件</title>
    <style>
        .clear{
            clear: both;
        }
    </style>
</head>
<body>
<div class="t-panel">
    <div class="t-panel-layout">
        <div>测试radios</div>
        <div id="testRadio"></div>
        <div class="radio clear">
            <a href="javascript:" class="getVersion">版本</a>
            <a href="javascript:" class="testDisabled">禁用</a>
            <a href="javascript:" class="testDisabled1">禁用1</a>
            <a href="javascript:" class="testGet">获取</a>
            <a href="javascript:" class="testEnable">启用</a>
            <a href="javascript:" class="testEnable1">启用1</a>
            <a href="javascript:" class="testDestroy">删除</a>
            <a href="javascript:" class="testCheck">全选</a>
            <a href="javascript:" class="testCheck1">选择1</a>
            <a href="javascript:" class="testUncheck">取消选中</a>
            <a href="javascript:" class="testUncheck1">取消选中1</a>
        </div>
        <div>测试checkbox</div>
        <div id="testCheckbox2"></div>
        <div class="checkbox clear">
            <a href="javascript:" class="getVersion">版本</a>
            <a href="javascript:" class="testDisabled">禁用</a>
            <a href="javascript:" class="testDisabled1">禁用1</a>
            <a href="javascript:" class="testGet">获取</a>
            <a href="javascript:" class="testEnable">启用</a>
            <a href="javascript:" class="testEnable1">启用1</a>
            <a href="javascript:" class="testDestroy">删除</a>
            <a href="javascript:" class="testCheck">全选</a>
            <a href="javascript:" class="testCheck1">选择1</a>
            <a href="javascript:" class="testUncheck">取消选中</a>
            <a href="javascript:" class="testUncheck1">取消选中1</a>
        </div>
    </div>
</div>
<script src="../../assets/common/require.js"></script>
<script src="../../assets/common/requireMain.js"></script>
<script src="../../js/components/checkbox.js"></script>
</body>
</html>